{% extends "base.html" %}

{% block title %}トップページ{% endblock %}
{% block contents %}
<div class="list">
	<!-- 検索フォーム -->
	<div class="search-container">
		<form class="search-form" method="get" action="{% url 'list' %}">
			{% csrf_token %}
			<label for="">キーワードから探す</label>
			<input class="search-box" type="text" name="query" placeholder="店舗名・エリア" value="{{ request.GET.query }}">
			<button type="submit" class="search-btn">検索</button>
		</form>
	</div>

	<!-- 検索結果の数 -->
	<div class="search-count">
		{% if object_list %}
		<p>{{ object_list|length }}件の店舗が見つかりました</p>
		{% else %}
		<p>お探しの店舗は見つかりませんでした</p>
		{% endif %}
	<div>
	{% for restaurant in object_list %}
	</div>
	<table class="restaurant-table">
		<tr>
			<td rowspan="4" class="image-table">
				<a href="{% url 'detail' restaurant.pk %}"><img src="{{ restaurant.image.url }}" class="restaurant-image" alt="店舗画像"></a>
			</td>
			<td class="first-row">
				<a href="{% url 'detail' restaurant.pk %}" class="restaurant-name">{{ restaurant.restaurant_name }}</a><br>
			</td>
		</tr>
		<tr>
			<td class="second-row">
				{% for category in restaurant.category_name.all %}
				<span class="category">{{ category }}　</span>
				{% endfor %}
				<div></div>
			</td>
		</tr>
		<tr>
			<td class="third-row">
				{{ restaurant.lowest_price }}~{{ restaurant.highest_price }}円<br>
			</td>
		</tr>
		<tr>
			<td class="fourth-row">
				{{ restaurant.description}}</p>
			</td>
		</tr>
	</table>
	{% endfor %}
</div>
{% endblock %}