{% extends "base.html" %}

{% block title %}トップページ{% endblock %}
{% block contents %}

<!-- 検索フォーム -->
<div class="search-container">
	<form class="search-form" method="get" action="{% url 'list' %}">
		{% csrf_token %}
		<label for="">キーワードから探す</label>
		<input class="search-box" type="text" name="query" placeholder="店舗名・エリア" value="{{ request.GET.query }}">
		<button type="submit" class="search-btn">検索</button>
	</form>
</div>

<!-- 検索結果の数 -->
{% if object_list %}
<p>{{ object_list.count }}件の店舗が見つかりました</p>
{% else %}
<p>お探しの店は見つかりませんでした</p>
{% endif %}
{% for restaurant in object_list %}
<div class="flex-container">
	<div>
		<a href="{% url 'detail' restaurant.pk %}"><img src="{{ restaurant.image.url }}" class="list-image" alt="店舗画像"></a>
	<div>
	<div>
		<div>
			<a href="{% url 'detail' restaurant.pk %}">{{ restaurant.restaurant_name }}</a>
			{% for category in restaurant.category_name.all %}
			<p class="category-name">{{ category }}</p>
			{% endfor %}
		</div>
		<div>
			<p>{{ restaurant.lowest_price }}~{{ restaurant.highest_price }}円</p>
			<p>{{ restaurant.description}}</p>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}