{% extends "base.html" %}

{% block title %}レビュー投稿ページ{% endblock %}
{% block contents %}
<div class="reviewcreate">
	<div class="outer-container">
		<h2 class="restaurant-name">{{ restaurant_name }}</h2>
	  <form method="post" class="review-form">
			{% csrf_token %}
			<div class="score">
				<h4>評価</h4>
				<div class="flex-container">
					{% for choice in form.score %}
					<div class="choice">
						{{ choice.choice_label }}
						{{ choice.tag }}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="content">
				<h4>感想</h4>
				{{ form.content }}
			</div>
			<br>
			<div class="flex-container btn-container">
				<button type="submit" class="btn strong-btn two-btn">レビューを投稿する</button>
				<a href="{% url 'reviewlist' restaurant_id %}" class="btn nonfocus-btn two-btn">レビュー一覧に戻る</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}