* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

.contents {
  flex: 1;
}

label {
  display: inline-block;
}

input, select {
  font-size: 100%;
}

textarea {
  font-size: 16px;
}

ul {
  margin: 0;
}

table {
  font-size: 15px;
  border-spacing: 0;
}

th {
  text-align: left;
}

h5 {
  font-size: 16px;
}

.btn {
  color: black;
  font-size: 14px;
  text-decoration: none;
  padding: 3px 6px;
  border-radius: 6px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.focus-btn {
  color: white;
  background-color: rgb(255, 174, 0);
}

.nonfocus-btn {
  color: black;
  background-color: #eee;
}

.nonfocus-btn:hover {
  font-weight: bold;
}

.nonactive-btn {
  background-color: rgb(190, 190, 190);
}

.favorite-btn {
  color: #fff;
  background-color: #a9894b;
}

.favorite-btn:hover {
  font-weight: bold;
}

.new-btn {
  color: #fff;
  background-color: #1d365f;
}

.new-btn:hover {
  font-weight: bold;
}

.thin-btn {
  color: black;
  background-color: #f2efe6;
}

.thin-btn:hover {
  font-weight: bold;
}

.strong-btn {
  color: white;
  background-color: #a9894b;
}

.strong-btn:hover {
  font-weight: bold;
}

.one-btn {
  width: 300px;
  height: 50px;
  padding: 15px;
  text-align: center;
  display: inline-block;
}

.two-btn {
  width: 200px;
  height: 50px;
  padding: 15px;
  text-align: center;
  display: inline-block;
}

.three-btn {
  width: 150px;
  height: 50px;
  padding: 15px;
  text-align: center;
  display: inline-block;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.flex-container {
  display: flex;
}

.wrap-container {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.btn-container {
  justify-content: space-around;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination a {
  color: #bbb;
  text-decoration: none;
}

.pagination a:hover {
  color: black;
}

.crimson {
  color: crimson;
}

.bold {
  font-weight: bold;
}

header {
  max-width: 1080px;
  height: 60px;
  background-color: #f2efe6;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

header .own-link {
  color: rgb(0, 105, 140);
}

header .own-link:hover {
  color: black;
}

.header-logo-wrap {
  display: flex;
}

.header-logo-wrap > h2 {
  font-size: 24px;
}

.header-logo {
  height: 30px;
  margin: auto 20px;
}

.header-logo-ref {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.nav-pc {
  margin-top: 10px;
  margin-right: 10px;
}

header .flex-container {
  width: 550px;
  justify-content: space-between;
}

header .upper {
  margin-top: 0;
  margin-bottom: 3px;
}

header .before-login {
  display: flex;
}

header .before-login a {
  margin-left: 30px;
}

.welcome {
  color: rgb(0, 105, 140);
  font-weight: bold;
  text-align: right;
  margin: 0 0 0 0;
}

.link-container {
  display: flex;
}

header .nav-link {
  color: rgb(125, 125, 125);
  text-decoration: none;
}

header .nav-link:hover {
  color: rgb(0, 0, 0);
}

header .nav-input {
  background: none;
  border: none;
}

.outer-container {
  margin: 90px auto 30px auto;
}

.login .outer-container {
  width: 350px;
}

.login .form-container {
  margin: 40px 0;
}

.login .form-section {
  margin: 20px 0;
}

.login .form-section label {
  width: 130px;
}

.login .form-section input {
  width: 212px;
}

.login .btn-container {
  margin: 40px 0;
}

.login .ref-container {
  margin: 10px 0;
}

.login .ref {
  color: gray;
  text-decoration: none;
}

.login .ref:hover {
  color: black;
}

.login .lower-comment {
  width: 530px;
  margin: 60px auto;
}

.login p {
  font-size: 16px;
}

.login-check {
  margin-bottom: 30px;
}

.passwordreset .outer-container {
  width: 450px;
}

.passwordreset .title {
  margin-bottom: 30px;
  text-align: center;
}

.passwordreset label {
  width: 130px;
}

.passwordreset input {
  width: 312px;
}

.passwordreset .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.passwordreset .btn:hover {
  color: white;
  background-color: orangered;
}

.passwordreset .btn-container {
  margin-top: 30px;
}

.passwordchange .outer-container {
  width: 430px;
}

.passwordchange .comment {
  color: gray;
}
.passwordchange label {
  width: 220px;
}

.passwordchange input {
  width: 202px;
}

.passwordchange .form-group {
  margin: 20px 0;
}

.passwordchange .comment {
  padding-top: 30px;
}

.passwordchange .btn-container {
  margin-top: 30px;
}

.signup .outer-container {
  width: 500px;
}

.signup .title {
  text-align: center;
}

.signup p {
  margin: 0 0 15px 0;
}

.signup .label {
  width: 200px;
}

.must {
  color: white;
  font-size: 12px;
  padding: 3px;
  background-color: rgb(254, 89, 122);
}

.signup .right {
  width: 300px;
  text-align: right;
}

.signup input {
  width: 292px;
}

.signup .error {
  color: crimson;
  text-align: right;
}

.signup .error li {
  list-style: none;
}

.signup .comment {
  color: gray;
}

.signup select {
  margin-right: 10px;
}

.signup .btn-container {
  margin-top: 20px;
}

.signup .inner-container {
  width: 450px;
  margin: 0 auto;
}

.signup-confirm-table tr {
  border-bottom: solid gray 1px;
  height: 35px;
}

.signup-confirm-table th {
  width: 170px;
  background-color: #f2efe6;
  padding: 3px 0 3px 15px;
  border-bottom: solid #fff 1px;
}

.signup-confirm-table td {
  width: 280px;
  padding: 3px 0 3px 15px;
  border-bottom: solid #ececec 1px;
}

.temp-registration {
  width: 100%;
  padding-top: 50px;
}

.temp-registration .container {
  margin-top: 40px;
}

.top .outer-container {
  margin-top: 60px;
}

.topVisualContainer {
  position: relative;
}

.topVisual {
  width: 100%;
  object-fit: cover;
  height: 300px;
  filter: brightness(50%);
}

.topVisualText {
  color: white;
  position: absolute;
  top: 45px;
  left: 50px;
}

.search-container {
  height: 60px;
  text-align: center;
  background-color: rgb(255, 220, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 250px;
  margin: 0 15px 0 15px;
}

.top .restaurants-container {
  max-width: 840px;
  margin: 30px auto;
}

.top .middle-container {
  margin-bottom: 30px;
}

.top .title {
  margin-bottom: 5px;
}

.top ul.wrap-container {
  padding: 0;
}

.top ul.wrap-container a {
  text-decoration: none;
}

.top ul.wrap-container a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.top .inner-container {
  width: 130px;
  border: solid 1px;
  border-color: #f2efe6;
  background-color: #f2efe6;
  margin-right: 10px;
  list-style: none;
}

.top .inner-container p {
  line-height: 1.3;
  margin: 5px;
}

.top .restaurant-name {
  color: black;
  font-size: 14px;
}

.top .category-name {
  color: gray;
  font-size: 12px;
}

.top .category-container {
  width: 130px;
  margin-right: 10px;
  position: relative;
  list-style: none;
}

.top .category-img {
  width: 100%;
  padding: 0;
  filter: brightness(50%);
}

.top .category-text {
  font-size: 16px;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  margin: 0;
}

.lower-category-container{
  margin-top: 10px;
}

.category-btn {
  border: solid rgb(170, 170, 170) 1px;
  background-color: white;
  white-space: nowrap;
}

.category-btn:hover {
  color: #fff;
  background-color: #a9894b;
}

.top .restaurant-image {
  width: 100%;
  height: 80px;
  object-fit: cover;
}


.categoryRef {
  color: white;
  font-size: 15px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.categoryImage {
  filter: brightness(50%);
}

.categoryref-constainer {
  margin: 10px 0;
}

footer {
  text-align: center;
  background-color: whitesmoke;
}

.footer-container {
  padding-top: 15px;
}

.footer-logo-wrap {
  display: flex;
  justify-content: center;
}

.footer-logo {
  height: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-logo-ref {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.footer-ref > a {
  color: rgb(120, 120, 120);
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
}

.footer-ref > a:hover {
  color: rgb(0, 0, 0);
}

.footer-copyright {
  color: grey;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.detail .outer-container {
  width: 500px;
}

.detail .upper-btn,
.reservationcreate .upper-btn,
.reviewlist .upper-btn {
  width: 150px;
  text-align: center;
}

.detail .restaurant-name {
  width: 100%;
  text-align: center;
}

.detail .information {
  margin-top: 30px;
}

.detail .favorite {
  width: 300px;
  height: 50px;
}

.detail .ref:hover {
  text-decoration: underline;
}

.detail img {
  width: 500px;
}

.detail .restaurant-table {
  width: 500px;
}

.tableheader {
  font-size: 15px;
  padding: 5px 10px;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #f2efe6;
  width: 100px;
}

.cell {
  font-size: 15px;
  padding: 5px 15px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.detail .nonactive-btn:hover {
  font-weight: bold;
}

.detail .three-btn:hover {
  font-weight: bold;
}

.list .outer-container {
  margin-top: 60px;
}

.search-count {
  width: 700px;
  margin: 30px auto 0 auto;
}

.list .outer-container {
  margin-top: 70px;
}

.list .flex-container {
  margin-bottom: 15px;
}

.list .btn {
  width: 150px;
  text-align: center;
}

.list .top-ref {
  margin-left: 25px;
}

.list .back-container {
  background-color: rgb(255, 220, 180);
}

.list .btn-container {
  padding: 10px 25px;
}

.list .focus-btn {
  border: solid rgb(255, 174, 0) 1px;
}

.list .inner-container {
  width: 700px;
  margin: 0 auto;
}

.list .current, .dot {
  color: #000;
}

.list .table-ref {
  text-decoration: none;
}

.list .table-ref:hover {
  opacity: 0.7;
}

.restaurant-table {
  width: 700px;
  margin: 10px 0 40px 0;
}

.restaurant-table .image-table {
  width: 300px;
  padding: 0;
  border: solid 1px #999;
}

.restaurant-table .first-row {
  height: 50px;
  border-top: solid 1px #999;
  border-right: solid 1px #999;
  padding-left: 10px;
}

.restaurant-table .second-row {
  height: 30px;
  border-right: solid 1px #999;
  padding-left: 10px;
}

.restaurant-table div {
  margin-right: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #999;
}

.restaurant-table .third-row {
  height: 40px;
  border-right: solid 1px #999;
  padding-left: 10px;
}

.restaurant-table .fourth-row {
  border-bottom: solid 1px #999;
  border-right: solid 1px #999;
  padding-left: 10px;
  vertical-align: top;
}

.restaurant-table .restaurant-image {
  width: 300px;
}

.restaurant-table .restaurant-name {
  color: black;
  font-size: 20px;
}

.restaurant-table .category {
  color: gray;
  font-size: 15px;
}

.restaurant-table .price, .description {
  color: black;
  font-size: 16px;
}

.reviewlist {
  margin-top: 80px;
}

.reviewlist .outer-container {
  width: 500px;
}

.reviewlist .ref-container {
  margin-bottom: 15px;
}

.reviewlist .information {
  margin-top: 30px;
}

.reviewlist .noreview-table {
  width: 500px;
  margin-top: 30px;
}

.reviewlist .noreview {
  text-align: center;
  background-color: #f2efe6;
  border: solid #999 1px;
  padding: 5px 0;
}

.reviewlist .inner-container {
  margin-top: 20px;
}

.review-table {
  width: 500px;
  margin: 10px auto 30px auto;
  border: solid 1px #999;
}

.reviewlist  .middle-btn {
  width: 200px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.reviewlist .restaurant-name {
  text-align: center;
}

.review-table .user-name {
  font-size: 18px;
  background-color: #f2efe6;
  border-bottom: solid 1px gray;
  padding: 2px 4px;
}

.review-table .my-name {
  color: #fff;
  font-size: 18px;
  background-color: #a9894b;
  border-bottom: solid 1px gray;
  padding: 2px 4px;
}

.review-table .san {
  font-size: 14px;
}

.review-table .star {
  color: rgb(255, 196, 0);
  border-bottom: solid 1px gray;
  padding: 2px 4px;
}

.review-table .notstar {
  color: rgb(220, 220, 220);
}

.review-table .content {
  padding: 2px 4px;
}

.review-table .update {
  font-size: 13px;
  padding: 2px 4px;
}

.reviewlist .reviewcheck {
  font-size: 16px;
  text-align: center;
}

.reviewlist .review-form {
  text-align: center;
  margin: 30px auto;
}

.reviewcreate .outer-container {
  width: 500px;
}

.reviewcreate h4 {
  margin-bottom: 5px;
}

.reviewcreate .score {
  margin: 30px 0;
}

.reviewcreate .restaurant-name {
  text-align: center;
}

.reviewcreate .review-form {
  width: 500px;
}

.reviewcreate .choice {
  margin-right: 50px;
}

.reviewcreate textarea {
  width: 500px;
  height: 200px;
}

.reviewcreate .btn-container {
  margin: 0 auto 20px auto;
  justify-content: space-around;
}

.reviewcreate .nonactive-btn:hover {
  font-weight: bold;
}

.reservationcreate .outer-container {
  width: 500px;
}

.reservationcreate .inner-container {
  width: 300px;
  margin: 30px auto 0 auto;
}

.reservationcreate .reservation-form {
  text-align: left;
  margin-top: 30px;
}

.reservationcreate label {
  display: inline-block;
  width: 120px;
}

.reservationcreate input {
  width: 172px;
}

.reservationcreate .btn-container {
  text-align: center;
  margin-top: 40px;
}

.reservationcreate .favorite-btn {
  width: 300px;
  height: 50px;
}

.reservationcreate .form-group {
  margin: 10px 0;
}

.reservationcreate .lower-btn,
.reservation .lower-btn {
  width: 200px;
  height: 50px;
  text-align: center;
}

.reservationcreate .two-btn:hover {
  font-weight: bold;
} 

.reservation .outer-container {
  width: 550px;
  margin: 90px auto 30px auto;
}

.reservation .top-container {
  justify-content: space-between;
}

.reservation .upper-btn {
  display: inline-block;
  text-align: center;
  width: 90px;
  margin-right: 15px;
}

.right-align {
  color: gray;
  margin: 0;
}

.reservation .inner-container {
  margin-top: 20px;
}

.reservation-table {
  font-size: 14px;
  width: 555px;
  margin-top: 10px;
}

.reservation-table .restaurant-name {
  width: 230px;
}

.reservation-table .restaurant-ref {
  color: #003589;
  text-decoration: none;
}

.reservation-table .restaurant-ref:hover {
  opacity: 0.7;
}

.reservation-table .reserved-date {
  width: 135px;
}

.reservation-table .reserved-time {
  width: 60px;
}

.reservation-table .reserved-people {
  width: 40px;
}

.reservation-table .reservation-cancel {
  width: 90px;
}

.reservation-table td .nonactive-btn {
  padding-top: 6px;
  padding-bottom: 6px;
}

.reservation .nonactive-btn:hover {
  font-weight: bold;
}

.reservation-table th {
  padding: 3px;
  background-color: #f2efe6;
  border-bottom: solid gray 1px;
}

.reservation-table td {
  height: 40px;
  padding: 3px;
  border-bottom: solid gray 1px;
}

.reservation .btn-container {
  margin-top: 20px;
}

.reservation-confirm-table {
  margin-top: 20px;
}

.reservation-confirm-table tr {
  height: 40px;
}

.reservation-confirm-table th {
  width: 100px;
  background-color: #f2efe6;
  border-bottom: solid #fff 1px;
  padding: 3px 0 3px 15px;
}

.reservation-confirm-table td {
  width: 200px;
  border-bottom: solid #ececec 1px;
  padding: 3px 0 3px 15px;
}

.favoritelist .outer-container {
  width: 730px;
}

.favorite-table {
  font-size: 14px;
  margin-top: 20px;
}

.favorite-table th {
  text-align: left;
  background-color: #f2efe6;
  border-bottom: solid gray 1px;
  padding: 3px 0;
}

.favoritelist td {
  height: 40px;
  border-bottom: solid gray 1px;
  padding: 3px 0;
}

.favoritelist .restaurant-name {
  width: 250px;
}

.favorite-table .postalcode {
  width: 100px;
}

.favorite-table .address {
  width: 300px;
}

.favorite-table .cancel {
  width: 80px;
}

.favoritelist .restaurant-ref {
  color: #003589;
  text-decoration: none;
}

.favoritelist .restaurant-ref:hover {
  opacity: 0.7;
}

.favoritelist .nonactive-btn {
  width: 80px;
}

.favoritelist .nonactive-btn:hover {
  font-weight: bold;
}
.user .outer-container {
  width: 500px;
}

.user h2 {
  margin-bottom: 0;
}

.user .top-container {
  margin: 20px 0;
}

.user .new-btn {
  width: 150px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  padding: 5px 2px;
}

.user form {
  text-align: right;
}

.user-table {
  width: 100%;
  margin-bottom: 30px;
}

.user-table th {
  width: 150px;
  padding: 3px 0 3px 15px;
  background-color: #f2efe6;
  border-bottom: solid #fff 1px;
}

.user-table td {
  padding: 3px 0 3px 15px;
  border-bottom: solid #ececec 1px;
}

.user .nonactive-btn:hover {
  font-weight: bold;
}

.user .bottom {
  margin-top: 40px;
}

.user-update .outer-container {
  width: 500px;
}

.user-update .title {
  margin-bottom: 20px;
  text-align: center;
}

.user-update .flex-container {
  margin-bottom: 20px;
}

.user-update .label {
  width: 200px;
}

.user-update .right {
  width: 300px;
  text-align: left;
}

.user-update .error {
  color: crimson;
  text-align: right;
}

.user-update .error li {
  list-style: none;
}

.user-update input {
  width: 292px;
}

.user-update select {
  margin-right: 10px;
}

.user-update .btn-container {
  margin-top: 40px;
}

.resign .outer-container {
  width: 500px;
  margin: 120px auto 30px auto;
  text-align: center;
}

.resign .btn-container {
  margin-top: 30px;
}

.resign .nonactive-btn:hover {
  font-weight: bold;
}

.company .outer-container {
  width: 500px;
  margin: 90px auto 30px auto;
}

.company-table {
  margin-top: 15px;
}

.company-table th {
  width: 135px;
  padding: 3px 0 3px 15px;
  background-color: #f2efe6;
  border-bottom: solid #fff;
}

.company-table td {
  padding: 3px 0 3px 15px;
  border-bottom: solid #ececec 1px;
}

.management .outer-container {
  width: 600px;
}

.management .comment {
  padding: 20px 0;
}

.management .ref-container {
  margin: 30px 0;
}

.management .edit-btn {
  font-size: 16px;
  display: inline-block;
  width: 180px;
}

.management-restaurant .outer-container {
  width: 850px;
  margin: 90px auto 30px auto;
}

.management-restaurant .search-container {
  margin: 20px 0;
}

.management-restaurant .search-container input {
  width: 400px;
  margin: 0 20px;
}

.management-restaurant .upper {
  justify-content: space-between;
}

.management-restaurant .left-ref {
  margin-right: 20px;
  width: 100px;
  display: inline-block;
  text-align: center;
}

.management-restaurant .new-btn {
  width: 150px;
  text-align: center;
  display: inline-block;
}

.management-restaurant .inner-container {
  margin-top: 20px;
}

.management-restaurant-table {
  margin: 10px auto 30px auto;
}

.management-restaurant-table tr {
  height: 40px;
}

.management-restaurant-table th {
  border-bottom: solid gray 1px;
  background-color: whitesmoke;
  padding: 3px 0;
  text-align: left;
}

.management-restaurant-table td {
  border-bottom: solid gray 1px;
  padding: 3px 0;
}

.management-restaurant-table .ref {
  color: #003589;
  text-decoration: none;
}

.management-restaurant-table .ref:hover {
  opacity: 0.7;
}

.management-restaurant-table .restaurant-name {
  width: 250px;
}

.management-restaurant-table .postal-code {
  width: 90px;
}
.management-restaurant-table .address {
  width: 280px;
}

.management-restaurant-table .manager {
  width: 180px;
}

.management-restaurant-table .reservationlist {
  width: 90px;
}

.management-restaurant-table .sales {
  width: 90px;
}

.management-restaurant-table .strong-btn {
  width: 80px;
  display: inline-block;
}

.management-restaurant-create .outer-container {
  width: 600px;
}

.management-restaurant-create .cluster {
  margin: 20px 0;
}

.management-restaurant-create .label {
  width: 230px;
  vertical-align: top;
}

.management-restaurant-create .const input {
  width: 362px;
}

.management-restaurant-confirm .outer-container {
  width: 600px;
}

.restaurant-confirm-table {
  margin: 30px 0;
}

.restaurant-confirm-table tr {
  height: 40px;
}

.restaurant-confirm-table th {
  width: 220px;
  background-color: #f2efe6;
  border-bottom: solid #fff 1px;
  padding: 3px 0 3px 15px;
}

.restaurant-confirm-table td {
  width: 380px;
  border-bottom: solid #ececec 1px;
  padding: 3px 0 3px 15px;
}

.management-restaurant-edit .outer-container {
  width: 600px;
}

.management-restaurant-edit .cluster {
  margin: 20px 0;
}

.management-restaurant-edit .label {
  width: 230px;
  vertical-align: top;
}

.management-restaurant-edit .const input {
  width: 362px;
}

.management-reservation .outer-container {
  width: 720px;
  margin: 90px auto 30px auto;
}

.management-reservation .flex-container {
  margin-top: 20px;
}

.management-restaurant-table .date {
  width: 130px;
}

.management-restaurant-table .time {
  width: 60px;
}

.management-restaurant-table .people {
  width: 50px;
}

.management-restaurant-table .user {
  width: 100px;
}

.management-restaurant-table .edit {
  width: 65px;
}

.management-restaurant-table .delete {
  width: 65px;
}

.management-reservation-list .outer-container {
  width: 650px;
  margin: 90px auto 30px auto;
}

.management-reservation-list .search-container input {
  width: 250px;
  margin: 0 20px;
}

.management-reservation-list .flex-container {
  margin-top: 20px;
}

.management-reservation-list .left-align {
  width: 100px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.management-reservation-list .inner-container {
  margin-top: 20px;
}
.management-reservation-list-table {
  margin: 10px auto 30px auto;
}

.management-reservation-list-table tr {
  height: 40px;
}

.management-reservation-list-table th {
  border-bottom: solid gray 1px;
  background-color: #f2efe6;
}

.management-reservation-list-table td {
  border-bottom: solid gray 1px;
}

.management-reservation-list-table .date {
  width: 180px;
}

.management-reservation-list-table .time {
  width: 90px;
}

.management-reservation-list-table .people {
  width: 70px;
}

.management-reservation-list-table .user {
  width: 200px;
}

.management-reservation-list-table .edit {
  width: 90px;
}

.management-reservation-list-table .delete {
  width: 90px;
}

.management-reservation-list-table .nonactive-btn:hover {
  font-weight: bold;
}

.management-reservation-list-table .btn {
  width: 80px;
  display: inline-block;
  text-align: center;
}

.management-reservation-list-table .ref {
  color: #003589;
  text-decoration: none;
}

.management-reservation-list-table .ref:hover {
  opacity: 0.7;
}

.management-reservation-edit .outer-container {
  width: 500px;
}

.management-reservation-edit .form-container {
  width: 350px;
  margin: 30px auto 0 auto;
}

.management-reservation-edit .ref {
  color: black;
}

.management-reservation-edit .ref:hover {
  font-weight: bold;
}

.management-reservation-edit .btn-container {
  margin-top: 30px;
}

.management-reservation-edit label {
  width: 142px;
}

.management-reservation-edit input {
  width: 200px;
}



.managementreservationdelete .outer-container {
  width: 650px;
}

.managementreservationdelete .delete-check {
  color: crimson;
}

.restaurant-table-delete {
  margin: 30px 0;
}

.restaurant-table-delete th {
  border-bottom: solid gray 1px;
  background-color: whitesmoke;
}

.restaurant-table-delete td {
  padding: 5px 0;
  border-bottom: solid gray 1px;
}

.restaurant-table-delete .ref {
  color: black;
}

.restaurant-table-delete .ref:hover {
  font-weight: bold;
}

.restaurant-table-delete .restaurant-name {
  width: 300px;
}

.restaurant-table-delete .date {
  width: 140px;
}

.restaurant-table-delete .time {
  width: 60px;
}

.restaurant-table-delete .people {
  width: 50px;
}

.restaurant-table-delete .user {
  width: 100px;
}

.managementreservationdelete .nonactive-btn:hover {
  font-weight: bold;
}

.management-user .search-container {
  width: 880px;
  height: 150px;
  margin: 20px auto;
}

.management-user .search-container .item {
  margin: 10px 0;
}

.management-user .left-container label {
  width: 200px;
  text-align: left;
}

.management-user .left-container input {
  width: 300px;
}

.management-user .search-container .right-container {
  margin: auto 0 auto 40px;
}

.management-user .right-container label {
  width: 60px;
  text-align: left;
}

.management-user .search-container .radio-container {
  margin-bottom: 15px;
}

.management-user .right-container input {
  width: 30px;
}

.management-user .search-container .btn {
  width: 150px;
  height: 40px;
}

.management-user .inner-container {
  width: 880px;
  margin: 20px auto 30px auto;
}

.management-user .query {
  margin: 5px 0;
}

.management-user-table {
  width: 880px;
  margin: 10px auto 30px auto;
}

.management-user-table .name {
  width: 150px;
}

.management-user-table .kana-name {
  width: 200px;
}

.management-user-table .email {
  width: 350px;
}

.management-user-table .status {
  width: 80px;
}

.management-user-table .detail {
  width: 100px;
}

.management-user-table .strong-btn {
  display: inline-block;
  width: 100px;
}

.management-user .resign {
  font-size: 14px;
  padding-left: 2px;
}

.management-user-table tr {
  height: 40px;
}

.management-user-table th {
  border-bottom: solid gray 1px;
  background-color: whitesmoke;
  text-align: left;
}

.management-user-table td {
  padding: 3px 0;
  border-bottom: solid gray 1px;
}

.management-user-detail-table {
  margin: 20px auto;
}

.management-user-detail-table th {
  width: 130px;
  padding: 3px 0 3px 15px;
  background-color: #f2efe6;
  border-bottom: solid #fff 1px;
  text-align: left;
}

.management-user-detail-table td {
  width: 300px;
  padding: 3px 0 3px 15px;
  border-bottom: solid #ececec 1px;
}
