* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

.contents {
  flex: 1;
}

h1 {
  font-size: 20px;
}

header {
  max-width: 1080px;
  height: 60px;
  background-color: whitesmoke;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-logo-wrap {
  display: flex;
}

.header-logo-wrap > h2 {
  font-size: 24px;
}

.header-logo {
  height: 30px;
  margin: auto 20px;
}

.header-logo-ref {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.nav-pc {
  margin-top: 10px;
  margin-right: 10px;
}

.nav-pc ul {
  display: flex;
  padding-left: none;
}

.nav-pc li {
  list-style: none;
}

.welcome {
  color: rgb(0, 105, 140);
  font-weight: bold;
  text-align: right;
  margin: 3px 0;
}

.link-container {
  display: flex;
}

header .nav-link {
  color: rgb(125, 125, 125);
  text-decoration: none;
  margin-left: 30px;
}

header .nav-input {
  background: none;
  border: none;
}

header .nav-link:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

main {
  margin-top: 60px;
}

.center {
  text-align: center;
}

.serviceguide .outer-container {
  width: 600px;
  margin: 90px auto 30px auto;
}

.serviceguide .ref-container {
  margin-top: 30px;
}

.serviceguide .ref-list {
  list-style: none;
  text-align: center;
}

.serviceguide .btn {
  color: gray;
}

.serviceguide .btn:hover {
  color: black;
}

.login .outer-container {
  width: 400px;
  margin: 90px auto 30px auto;
}

.login .title {
  text-align: center;
}

.login .login-ref {
  margin: 20px 0;
}

.login .form-section {
  margin: 20px 0;
}

.login .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.login .btn:hover {
  color: white;
  background-color: orangered;
}

.login .ref-container {
  text-align: center;
  margin: 10px 0;
}

.login .ref {
  color: gray;
  text-decoration: none;
}

.login .ref:hover {
  color: black;
  text-decoration: underline;
}

.login-check {
  margin-bottom: 30px;
}

.passwordreset .outer-container {
  width: 450px;
  margin: 90px auto 30px auto;
}

.passwordreset .title {
  margin-bottom: 30px;
  text-align: center;
}

.passwordreset label {
  width: 130px;
}

.passwordreset input {
  width: 312px;
}

.passwordreset .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.passwordreset .btn:hover {
  color: white;
  background-color: orangered;
}

.passwordreset .btn-container {
  margin-top: 30px;
}

.signup .outer-container {
  width: 500px;
  margin: 90px auto 30px auto;
}

.signup .title {
  margin-bottom: 20px;
  text-align: center;
}

.signup .label {
  width: 200px;
}

.signup .must {
  color: white;
  background-color: crimson;
}

.signup .right {
  width: 300px;
  text-align: right;
}

.signup input {
  width: 292px;
}

.signup .error {
  color: crimson;
  text-align: right;
}

.signup .error li {
  list-style: none;
}

.signup .comment {
  color: gray;
}

.signup select {
  margin-left: 10px;
}

.signup .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.signup .btn:hover {
  color: white;
  background-color: orangered;
}

.signup .btn-container {
  margin-top: 20px;
}

.temp-registration {
  width: 100%;
  padding-top: 40px;
  text-align: center;
}

.topVisualContainer {
  position: relative;
}

.topVisual {
  width: 100%;
  object-fit: cover;
  height: 300px;
  filter: brightness(50%);
}

.topVisualText {
  color: white;
  position: absolute;
  top: 70px;
  left: 50px;
}

.search-container {
  height: 60px;
  text-align: center;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 250px;
  margin: 0 10px 0 5px;
}

.topOuterContainer {
  width: 800px;
  margin: 40px auto;
}

.flex-container {
  display: flex;
}

.topInnerContainer {
  width: 130px;
  border: solid 1px;
  border-color: rgb(205, 205, 205);
  margin-right: 10px;
}

.top-text-container {
  margin: 0 5px;
}

.category-container {
  width: 130px;
  margin-right: 10px;
  position: relative;
  border: none;
}

.big-category-btn {
  color: white;
  background: none;
  border: none;
  padding: 0;
  position: absolute;
}

.category-text {
  color: white;
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 29.7px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.category-image {
  filter: brightness(50%);
}

.lower-category-container{
  margin-top: 90px;
}

.small-category-form {
  width: 100%;  
}

.small-category-btn {
  background: none;
  margin: 2px;
  padding: 0;
  border: solid 1.5px;
  border-color: rgb(205, 205, 205);
}

.top-image {
  width: 100%;
}

.top .restaurant-name {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.top .restaurant-name:hover {
  text-decoration: underline;
}

.category-name {
  color: gray;
  font-size: 12px;
  margin: 5px 0;
}

.categoryRef {
  color: white;
  font-size: 15px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.categoryImage {
  filter: brightness(50%);
}

.categoryref-constainer {
  margin: 10px 0;
}

.categoryref-constainer > a {
  color: rgb(170, 170, 170);
  font-size: 15px;
  text-decoration: none;
  white-space: nowrap;
  border: solid 1px rgb(205, 205, 205);
  border-radius: 1px;
}

.categoryref-constainer > a:hover {
  color:rgb(125, 125, 125);
}

.restaurant-description {
  font-size: 12px;
  margin: 5px 0;
}

footer {
  text-align: center;
  background-color: whitesmoke;
}

.footer-container {
  padding-top: 15px;
}

.footer-logo-wrap {
  display: flex;
  justify-content: center;
}

.footer-logo {
  height: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-logo-ref {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.footer-ref > a {
  color: rgb(120, 120, 120);
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
}

.footer-ref > a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.footer-copyright {
  color: grey;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.detail .outer-container {
  width: 500px;
  margin: 80px auto 0 auto;
}

.detail .restaurant-name {
  width: 100%;
  text-align: center;
}

.restaurant-top-ref {
  margin: 10px 0 15px 15px;
}

.detail .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px;
  border: none;
}

.detail .btn:hover {
  color: white;
  background-color: orangered;
}

.detail .ref:hover {
  text-decoration: underline;
}

.detail-image {
  width: 500px;
}

.detail .restaurant-table {
  width: 500px;
}

.tableheader {
  font-size: 15px;
  padding: 5px 10px;
  border-bottom-color: #2710d5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100px;
}

.cell {
  font-size: 15px;
  padding: 5px 15px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.search-count {
  width: 700px;
  margin: 30px auto 0 auto;
}

.restaurant-table {
  width: 700px;
  margin: 30px auto 30px auto;
}

.restaurant-table .image-table {
  width: 300px;
  padding: 0;
  border: solid 1px rgb(180, 180, 180);
}

.restaurant-table .first-row {
  height: 40px;
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  padding-left: 10px;
}

.restaurant-table .second-row {
  height: 30px;
  border-right: solid 1px rgb(180, 180, 180);
  padding-left: 10px;
}

.restaurant-table div {
  margin-right: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgb(180, 180, 180);
}

.restaurant-table .third-row {
  height: 30px;
  border-right: solid 1px rgb(180, 180, 180);
  padding-left: 10px;
}

.restaurant-table .fourth-row {
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  padding-left: 10px;
  vertical-align: top;
}

.restaurant-table .restaurant-image {
  width: 300px;
}

.restaurant-table .restaurant-name {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.restaurant-table .restaurant-name:hover {
  text-decoration: underline;
}

.restaurant-table .category {
  color: gray;
  font-size: 15px;
}

#favorite-btn {
  padding: 5px 15px;
}

.reviewlist {
  margin-top: 80px;
}

.reviewlist .outer-container {
  width: 500px;
  margin: 0 auto;
}

.reviewlist .average {
  text-align: center;
  margin-top: 20px;
}

.reviewlist .noreview {
  text-align: center;
  background-color: whitesmoke;
  margin: 30px 0;
  padding: 5px 0;
}

.review-table {
  width: 500px;
  margin: 20px auto 30px auto;
  border: solid 1px gray;
}

.reviewlist .restaurant-name {
  text-align: center;
}

.review-table .user-name {
  font-size: 18px;
  background-color: whitesmoke;
  border-bottom: solid 1px gray;
  padding: 2px 4px;
}

.review-table .san {
  font-size: 14px;
}

.review-table .star {
  color: rgb(255, 196, 0);
  border-bottom: solid 1px gray;
  padding: 2px 4px;
}

.review-table .notstar {
  color: rgb(220, 220, 220);
}

.review-table .content {
  padding: 2px 4px;
}

.review-table .update {
  font-size: 13px;
  padding: 2px 4px;
}

.reviewlist .reviewcheck {
  font-size: 16px;
  text-align: center;
}

.reviewlist .review-form {
  text-align: center;
  margin: 30px auto;
}

.reviewlist .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px;
  border: none;
}

.reviewlist .btn:hover {
  color: white;
  background-color: orangered;
}

.reviewcreate .outer-container {
  width: 500px;
  margin: 80px auto 30px auto;
}

.reviewcreate .score {
  margin: 30px 0;
}

.reviewcreate .restaurant-name {
  text-align: center;
}

.reviewcreate .review-form {
  width: 500px;
}

.reviewcreate .choice {
  margin-right: 50px;
}

.reviewcreate textarea {
  width: 500px;
  height: 200px;
}

.btn-container {
  margin: 0 auto 20px auto;
  justify-content: space-around;
}

.reviewcreate .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px;
  border: none;
}

.reviewcreate .btn:hover {
  color: white;
  background-color: orangered;
}

.reviewcreate .deletecheck {
  color: crimson;
  margin-top: 20px;
}

.reservationcreate .outer-container {
  width: 500px;
  margin: 80px auto 30px auto;
}

.reservationcreate .restaurant-name, .average {
  text-align: center;
  margin-top: 20px;
}

.reservationcreate .inner-container {
  width: 300px;
  margin: 0 auto;
}

.reservationcreate .comment {
  color: crimson;
  margin-top: 10px;
  margin-bottom: 0;
}

.reservationcreate .reservation-form {
  text-align: left;
  margin-top: 30px;
}

.reservationcreate label {
  width: 80px;
}

.reservationcreate input {
  width: 215px;
}

.reservationcreate .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px;
  border: none;
}

.reservationcreate .btn:hover {
  color: white;
  background-color: orangered;
}

.reservationcreate .btn-container {
  text-align: center;
  margin-top: 40px;
}

.reservation .outer-container {
  width: 550px;
  margin: 80px auto 30px auto;
}

.reservation-table {
  font-size: 14px;
  width: 550px;
  margin-top: 20px;
}

.reservation-table .restaurant-ref {
  color: black;
  text-decoration: none;
}

.reservation-table .restaurant-ref:hover {
  font-weight: bold;
  text-decoration: underline;
}

.reservation-table .reserved-date {
  width: 135px;
}

.reservation-table .reserved-time {
  width: 60px;
}

.reservation-table .reserved-people {
  width: 40px;
}

.reservation-table .reservation-cancel {
  width: 85px;
}

.reservation-table th {
  padding: 3px;
  background-color: whitesmoke;
  border-bottom: solid gray 1px;
}

.reservation-table td {
  height: 32px;
  padding: 3px;
  border-bottom: solid gray 1px;
}

.reservation .btn {
  color: black;
  font-size: 13px;
  background-color: rgb(255, 210, 197);
  padding: 2px 4px;
  border: none;
}

.reservation .btn:hover {
  color: white;
  background-color: orangered;
}

.reservation .btn-container {
  margin-top: 20px;
}

.reservation .deletecheck {
  color: crimson;
  margin-top: 20px;
}

.favoritelist .outer-container {
  width: 700px;
  margin: 80px auto 40px auto;
}

.favorite-table {
  font-size: 14px;
}

.favorite-table th {
  background-color: whitesmoke;
  border-bottom: solid gray 1px;
  padding: 3px 0;
}

.favoritelist td {
  border-bottom: solid gray 1px;
  padding: 3px 0;
}

.favoritelist .restaurant-name {
  width: 250px;
}

.favorite-table .postalcode {
  width: 100px;
}

.favorite-table .address {
  width: 300px;
}

.favorite-table .cancel {
  width: 50px;
}

.favoritelist .restaurant-ref {
  color: black;
  text-decoration: none;
}

.favoritelist .restaurant-ref:hover {
  font-weight: bold;
  text-decoration: underline;
}

.favoritelist .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px;
  border: none;
}

.favoritelist .btn:hover {
  color: white;
  background-color: orangered;
}

.user .outer-container {
  width: 500px;
  margin: 90px auto 30px auto;
}

.user .title {
  text-align: center;
}

.user form {
  text-align: right;
}

.user-table {
  width: 100%;
  margin-top: 15px;
}

.user-table th {
  width: 150px;
  padding: 3px 0 3px 3px;
  border-bottom: solid rgb(170, 170, 170) 1px;
}

.user-table td {
  padding: 3px 0 3px 3px;
  border-bottom: solid rgb(170, 170, 170) 1px;
}

.user .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.user .btn:hover {
  color: white;
  background-color: orangered;
}

.user-update .outer-container {
  width: 500px;
  margin: 90px auto 30px auto;
}

.user-update .title {
  margin-bottom: 20px;
  text-align: center;
}

.user-update .label {
  width: 200px;
}

.user-update .must {
  color: white;
  background-color: crimson;
}

.user-update .right {
  width: 300px;
  text-align: right;
}

.user-update .error {
  color: crimson;
  text-align: right;
}

.user-update .error li {
  list-style: none;
}

.user-update input {
  width: 292px;
}

.user-update select {
  margin-left: 10px;
}

.user-update .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.user-update .btn:hover {
  color: white;
  background-color: orangered;
}

.user-update .btn-container {
  margin-top: 20px;
}

.company .outer-container {
  width: 500px;
  margin: 90px auto 30px auto;
}

.company .title {
  text-align: center;
}

.company-table {
  margin-top: 15px;
}

.company-table th {
  width: 135px;
  padding: 3px 0 3px 3px;
  border-bottom: solid rgb(170, 170, 170) 1px;
}

.company-table td {
  padding: 3px 0 3px 3px;
  border-bottom: solid rgb(170, 170, 170) 1px;
}

.management .outer-container {
  width: 600px;
  margin: 90px auto 30px auto;
}

.management .ref-container {
  margin: 30px 0;
}

.management .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.management .btn:hover {
  color: white;
  background-color: orangered;
}

.management-restaurant .outer-container {
  width: 900px;
  margin: 90px auto 30px auto;
}

.management-restaurant .title {
  text-align: center;
}

.management-restaurant .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.management-restaurant .btn:hover {
  color: white;
  background-color: orangered;
}

.management-restaurant-table {
  margin: 30px auto;
}

.management-restaurant-table th {
  border-bottom: solid gray 1px;
  padding: 3px 0;
}

.management-restaurant-table td {
  border-bottom: solid gray 1px;
  padding: 3px 0;
}

.management-restaurant-table .ref {
  color: black;
  text-decoration: none;
}

.management-restaurant-table .ref:hover {
  font-weight: bold;
}

.management-restaurant-table .click {
  font-weight: normal;
}

.management-restaurant-table .restaurant-name {
  width: 250px;
}

.management-restaurant-table .postal-code {
  width: 90px;
}
.management-restaurant-table .address {
  width: 300px;
}

.management-restaurant-table .manager {
  width: 210px;
}

.management-restaurant-table .sales {
  width: 50px;
}

.management-restaurant-create .outer-container {
  width: 600px;
  margin: 90px auto 30px auto;
}

.management-restaurant-create label {
  width: 230px;
}

.management-restaurant-create input {
  width: 362px;
}

.management-restaurant-create .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.management-restaurant-create .btn:hover {
  color: white;
  background-color: orangered;
}

.management-restaurant-edit .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.management-restaurant-edit .btn:hover {
  color: white;
  background-color: orangered;
}

.management-restaurant-delete .outer-container {
  width: 700px;
  margin: 90px auto 30px auto;
}

.management-restaurant-delete .delete-check {
  color: crimson;
}

.management-restaurant-delete .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.management-restaurant-delete .btn:hover {
  color: white;
  background-color: orangered;
}

.managementreservation .outer-container {
  width: 800px;
  margin: 90px auto 30px auto;
}

.management-restaurant-table .date {
  width: 130px;
}

.management-restaurant-table .time {
  width: 60px;
}

.management-restaurant-table .people {
  width: 50px;
}

.management-restaurant-table .user {
  width: 100px;
}

.management-restaurant-table .edit {
  width: 65px;
}

.management-restaurant-table .delete {
  width: 65px;
}

.managementreservation .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.managementreservation .btn:hover {
  color: white;
  background-color: orangered;
}

.managementuser .outer-container {
  width: 800px;
  margin: 90px auto 30px auto;
}

.managementuser .user-table {
  margin: 30px auto;
}

.managementuser .btn {
  color: black;
  font-size: 14px;
  background-color: rgb(255, 210, 197);
  padding: 4px 10px;
  border: none;
}

.managementuser .btn:hover {
  color: white;
  background-color: orangered;
}

.user-table th {
  border-bottom: solid gray 1px;
}

.user-table td {
  border-bottom: solid gray 1px;
}
