{% extends "base_management.html" %}
{% block title %}{{ target_restaurant.restaurant_name }} カテゴリ削除ページ{% endblock %}
{% block contents %}
<div class="management-category-create">
	<div class="outer-container">
		<h2 class="center">カテゴリ：{{ object.category_name }}</h2>
		<p class="crimson center">本当に削除しますか？</p>
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="btn nonactive-btn one-btn">削除する</button>
		</form>
		<a href="{% url 'managementcategory' request.user.pk %}" class="btn thin-btn one-btn">カテゴリ一覧に戻る</a>
	</div>
</div>
{% endblock %}