{% extends "base_management.html" %}
{% block title %}店舗情報管理ページ{% endblock %}
{% block contents %}
<div class="management-restaurant">
	<div class="outer-container">
        <h2 class="center">管理店舗一覧</h2>
        <div class="search-container">
            <form method="post" action="{% url 'managementclosedrestaurant' user.pk %}">
				{% csrf_token %}
				<label>{{ form.query.label }}</label>{{ form.query }}
                <button type="submit" class="btn strong-btn">検索</button>
            </form>
        </div>
		<div class="flex-container upper">
            <div>
                <a href="{% url 'managementopenrestaurant' user.pk %}" class="btn nonfocus-btn left-ref">営業中</a>
                <a href="" class="btn focus-btn left-ref">閉店済</a>
            </div>
            <div>
                <a href="{% url 'managementrestaurantform' user.pk %}" class="btn new-btn">＋新規店舗登録</a>
            </div>
        </div>
        <div class="inner-container">
            {% if request.session.restaurant_search.0 %}
            <p>[キーワード：{{ request.session.restaurant_search.0 }}]</p>
            {% endif %}
            {% include "pagination.html" %}
            <table class="management-restaurant-table">
                <tr>
                    <th class="restaurant-name">店舗名</th>
                    <th class="postal-code">郵便番号</th>
                    <th class="address">住所</th>
                    <th class="manager">店舗管理者</th>
                    <th class="reservationlist"></th>
                </tr>
                {% if object_list %}
                {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'managementrestaurantdetail' user.pk object.restaurant.pk %}" class="ref">{{ object.restaurant.restaurant_name }}</a></td>
                    <td>{{ object.restaurant.postal_code|slice:":3" }}-{{ object.restaurant.postal_code|slice:"3:" }}</td>
                    <td>{{ object.restaurant.address }}</td>
                    <td>
                        {% for manager in object.restaurant.managers.all %}
                        <span><a href="{% url 'managementmanagerdetail' user.pk manager.pk %}" class="ref">{{ manager.name }}</a>　</span>
                        {% endfor %}
                    </td>
                    <td class="center"><a href="{% url 'managementreservationrestaurant' user.pk object.restaurant.pk %}" class="btn strong-btn">予約一覧</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6">管理店舗はありません</td>
                </tr>
                {% endif %}
            </table>
        </div>
		<div class="flex-container btn-container">
            <a href="{% url 'management' user.pk %}" class="btn thin-btn one-btn">管理トップに戻る</a>
        </div>
	</div>
</div>
{% endblock %}