{% extends "base_management.html" %}
{% block title %}会員情報詳細ページ{% endblock %}
{% block contents %}
<div class="management-user-detail">
	<div class="outer-container">
		<h2 class="center">会員情報詳細</h2>
		<table class="management-user-detail-table">
			<tr>
				<th>氏名</th>
				<td>{{ object.name }}</td>
			</tr>
			<tr>
				<th>フリガナ</th>
				<td>{{ object.kana_name }}</td>
			</tr>
			{% if object.is_active %}
			<tr>
				<th>ニックネーム</th>
				<td>{{ object.nick_name }}</td>
			</tr>
			{% endif %}
			<tr>
				<th>メールアドレス</th>
				<td>{{ object.email }}</td>
			</tr>
			{% if object.is_active %}
			<tr>
				<th>郵便番号</th>
				<td>{{ object.postal_code }}</td>
			</tr>
			<tr>
				<th>住所</th>
				<td>{{ object.address }}</td>
			</tr>
			{% endif %}
			<tr>
				<th>電話番号</th>
				<td>{{ object.tel_number }}</td>
			</tr>
			{% if object.is_active %}
			<tr>
				<th>誕生日</th>
				<td>{{ object.birthday }}</td>
			</tr>
			<tr>
				<th>職業</th>
				<td>{{ object.occupation }}</td>
			</tr>
			{% endif %}
			<tr>
				<th>会員状態</th>
				{% if object.is_active %}
				<td>継続</td>
				{% else %}
				<td>退会済</td>
				{% endif %}
			</tr>
		</table>
	</div>
</div>
{% endblock %}