{% extends "base_management.html" %}
{% block title %}予約編集ページ{% endblock %}
{% block contents %}
<div class="management-reservation-edit">
	<div class="outer-container">
        <h2 class="center">{{ reservation.restaurant.restaurant_name }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-container">
                <p>予約名：<a href="{% url 'managementuserdetail' user.pk reservation.user.pk %}" class="ref">{{ reservation.user.name }}</a></p>
                <p class="crimson">編集内容を入力してください</p>        
                {{ form.as_p }}
            </div>
            <div class="flex-container btn-container">
                <button type="submit" class="btn strong-btn two-btn">情報を更新する</button>
                <a href="{{ referer }}" class="btn thin-btn two-btn">予約一覧に戻る</a>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}