{% extends "base_management.html" %}
{% block title %}予約管理ページ{% endblock %}
{% block contents %}
<div class="management-reservation">
	<div class="outer-container">
		<h4 class="center">管理店舗予約一覧</h4>
		<div class="flex-container">
			<a href="{% url 'managementreservation' user_id %}" class="btn non-focus left-align">本日以降</a>
			<a href="{% url 'managementreservationall' user_id %}" class="btn focus left-align">全て</a>
		</div>
		<table class="management-restaurant-table">
			<tr>
				<th class="restaurant-name">店舗名</th>
				<th class="date">予約年月日</th>
				<th class="time">時間</th>
				<th class="people">人数</th>
				<th class="user">予約者</th>
				<th class="edit"></th>
				<th class="delete"></th>
			</tr>
			{% for reservation in target_reservations %}
			<tr>
				<td><a href="{% url 'managementrestaurantdetail' user_id reservation.restaurant.pk %}" class="ref">{{ reservation.restaurant.restaurant_name }}</a></td>
				<td>{{ reservation.reserved_date }}</td>
				<td>{{ reservation.reserved_time }}</td>
				<td>{{ reservation.number_of_people }}</td>
				<td><a href="{% url 'managementuserdetail' user_id reservation.user.pk %}" class="ref">{{ reservation.user.name }}</a></td>
				<td>
					{% if reservation.reserved_date >= today %}
					<a href="{% url 'managementreservationedit' user_id reservation.pk %}" class="btn submit">編集</a>
					{% endif %}
				</td>
				<td>
					{% if reservation.reserved_date >= today %}
					<a href="{% url 'managementreservationdelete' user_id reservation.pk %}" class="btn submit">削除</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="flex-container btn-container">
        	<a href="{% url 'management' user_id %}" class="btn submit">管理ページトップに戻る</a>
		</div>
		</div>
</div>
{% endblock %}