{% extends "base_management.html" %}
{% block title %}会員情報ページ{% endblock %}
{% block contents %}
<div class="management-user">
	<div class="outer-container">
		<h2 class="center">管理店舗に予約履歴のある会員一覧</h2>
		<table class="management-user-table">
			<tr>
				<th class="name">氏名</th>
				<th class="kana-name">フリガナ</th>
				<th class="email">メールアドレス</th>
				<th class="detail"></th>
			</tr>
			{% for target_user in target_users %}
			<tr>
				<td>{{ target_user.name }}</td>
				<td>{{ target_user.kana_name }}</td>
				<td>{{ target_user.email }}</td>
				<td class="center"><a href="{% url 'managementuserdetail' user.pk target_user.pk %}" class="btn strong-btn">詳細</a></td>
			</tr>
			{% endfor %}
		</table>
		<div class="flex-container btn-container">
	        <a href="{% url 'management' user.pk %}" class="btn thin-btn one-btn">管理トップに戻る</a>
		</div>
	</div>
</div>
{% endblock %}