{% extends "base.html" %}
{% block title %}予約管理ページ{% endblock %}
{% block contents %}
<div class="managementreservation">
	<div class="outer-container">
		<h4 class="center">管理店舗予約一覧</h4>
		<table class="management-restaurant-table">
			<tr>
				<th class="restaurant-name">店舗名</th>
				<th class="date">予約年月日</th>
				<th class="time">時間</th>
				<th class="people">人数</th>
				<th class="user">予約者</th>
				<th class="edit"></th>
				<th class="delete"></th>
			</tr>
			{% for reservation in target_reservations %}
			<tr>
				<td><a href="{% url 'managementrestaurantdetail' reservation.restaurant.pk %}" class="ref">{{ reservation.restaurant.restaurant_name }}</a></td>
				<td>{{ reservation.reserved_date }}</td>
				<td>{{ reservation.reserved_time }}</td>
				<td>{{ reservation.number_of_people }}</td>
				<td><a href="" class="ref">{{ reservation.user.name }}</a></td>
				<td><a href="{% url 'managementreservationedit' reservation.pk %}" class="btn">編集</a></td>
				<td><a href="{% url 'managementreservationdelete' reservation.pk %}" class="btn">削除</a></td>
			</tr>
			{% endfor %}
		</table>
		<div class="flex-container btn-container">
        	<a href="{% url 'management' user_id %}" class="btn">管理ページトップに戻る</a>
		</div>
		</div>
</div>
{% endblock %}