{% extends "base_management.html" %}
{% block title %}予約編集ページ{% endblock %}
{% block contents %}
<div class="management-reservation-edit">
	<div class="outer-container">
        <h4 class="center">{{ reservation.restaurant.restaurant_name }}</h4>
        <div class="form-container">
            {{ referer }}
            <p>予約名：<a href="{% url 'managementuserdetail' user.pk reservation.user.pk %}" class="ref">{{ reservation.user.name }}</a></p>
            <p class="crimson">編集内容を入力してください</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="flex-container btn-container">
                    <button type="submit" class="btn accept-btn">情報を更新する</button>
                    <a href="{% url 'managementreservationrestaurant' user.pk reservation.restaurant.pk %}" class="btn cancel-btn">予約一覧に戻る</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}