{% extends "base_management.html" %}
{% load bootstrap %}

{% block title %}新規店舗登録ページ{% endblock %}
{% block contents %}
<div class="management-restaurant-create">
	<div class="outer-container">
        <p class="bold">登録する新規店舗の情報を入力してください</p>
        <form method="post" action="{% url 'managementrestaurantconfirm' user.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <p class="crimson">＊{{ error }}</p>
            {% endfor %}
            <div class="cluster const">
                <label class="label">{{ form.restaurant_name.label }}</label>
                {{ form.restaurant_name }}
            </div>
            <div class="cluster const">
                <label class="label">{{ form.image.label }}</label>
                {{ form.image }}
                {% if uploaded_image %}
                <div class="flex-container">
                    <div class="right-space"></div>
                    <div>
                        <p>既にアップロードされた画像：<br>{{ uploaded_image }}</p>
                        <img src="data:image/jpeg;base64,{{ uploaded_image_data }}" alt="Uploaded Image Preview" style="max-width: 200px;">
                    </div>
                </div>
                {% endif %}
            <div class="cluster const">
                <label class="label">{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            <div class="cluster const">
                <label class="label">{{ form.lowest_price.label }}</label>
                {{ form.lowest_price }}
            </div>
            <div class="cluster const">
                <label class="label">{{ form.highest_price.label }}</label>
                {{ form.highest_price }}
            </div>
            <div class="cluster const">
                {% for error in form.postal_code.errors %}
                <p class="crimson">＊{{ error }}</p>
                {% endfor %}
                <label class="label">{{ form.postal_code.label }}</label>
                {{ form.postal_code }}
            </div>
            <div class="cluster const">
                <label class="label">{{ form.address.label }}</label>
                {{ form.address }}
            </div>
            <div class="cluster const">
                <label class="label">{{ form.opening_time.label }}</label>
                {{ form.opening_time }}
            </div>
            <div class="cluster const">
                <label class="label">{{ form.closing_time.label }}</label>
                {{ form.closing_time }}
            </div>
            <div class="cluster const">
                <label class="label">{{ form.seating_capacity.label }}</label>
                {{ form.seating_capacity }}
                {{ form.seating_capacity.errors }}
            </div>
            <div class="cluster multi">
                <div>
                    {% for error in form.holiday.errors %}
                    <p class="crimson">＊{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="flex-container">
                    <label class="label">{{ form.holiday.label_tag }}</label>
                    {{ form.holiday }}
                </div>
            </div>
            <div class="cluster multi">
                <div>
                    {% for error in form.category_name.errors %}
                    <p class="crimson">＊{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="flex-container">
                    <label class="label">{{ form.category_name.label }}</label>
                    {{ form.category_name }}
                </div>
            </div>
            <div class="cluster const">
                <label class="label">{{ form.open_date.label }}</label>
                {{ form.open_date }}
                {{ form.open_date.errors }}
            </div>
            <div class="flex-container btn-container">
                <button type="submit" class="btn strong-btn two-btn">入力情報を確認する</button>
                <a href="{% url 'managementopenrestaurant' user.pk %}" class="btn thin-btn two-btn">管理店舗一覧に戻る</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}