{% extends "base_management.html" %}
{% block title %}店舗運営者用管理ページ{% endblock %}
{% block contents %}
<div class="management">
	<div class="outer-container">
		<h2 class="center">店舗運営者ページ</h2>
		<p class="center comment">管理する店舗の店舗情報、予約情報の閲覧と編集、<br>および店舗を予約したことのある会員の情報を閲覧できます。</p>
		<div class="center">
			<div class="ref-container">
				<a href="{% url 'managementopenrestaurant' user_id %}" class="btn strong-btn one-btn">店舗・予約管理</a>
			</div>
			<div class="ref-container">
				<a href="{% url 'managementcategory' user_id %}" class="btn strong-btn one-btn">カテゴリ管理</a>
			</div>
			<div class="ref-container">
				<a href="{% url 'managementuser' user_id %}" class="btn strong-btn one-btn">会員情報</a>
			</div>
			{% if request.user.is_superuser %}
			<div class="ref-container">
				<a href="{% url 'administrationuser' %}" class="btn strong-btn one-btn">＊管理者画面ページ＊</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}