{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'nagoyameshi/css/style.css' %}">
</head>
<body>
  <div class="contents">
    <header>
      <div class="header-logo-wrap">
        <a href="{% url 'management' user.pk %}" class="logo-container">
          <img class="header-logo" src="{% static "nagoyameshi/images/misosoup.svg" %}" alt="トップページ">
          <h4 class="header-logo-ref">Nagoyameshi</h4>
        </a>
      </div>
      <!-- PC用メニューボタン -->
      <nav class="nav-pc">
        <div>
          <div class="flex-container upper">
            <p class="welcome left">店舗運営者ページ（ログイン：<a href="{% url 'managementmanagerdetail' user.pk user.pk %}" class="own-link">{{ user.name }}</a>）</p>
            <a href="{% url 'top' %}" class="nav-link">＊一般ページ＊</a>
          </div>
          <div class="flex-container lower">
            <a href="{% url 'management' user.pk %}" class="nav-link">管理トップ</a>
            <a href="{% url 'managementopenrestaurant' user.pk %}" class="nav-link">店舗・予約管理</a>
            <a href="{% url 'managementcategory' user.pk %}" class="nav-link">カテゴリ管理</a>
            <a href="{% url 'managementuser' user.pk %}" class="nav-link">会員情報</a>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <input class="nav-link nav-input" type="submit" value="ログアウト">
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      {% block contents %}
      {% endblock %}
    </main>
  </div>
  <footer>
    <div class="footer-container">
      <div class="footer-logo-wrap">
        <a href="{% url 'management' user.pk %}" class="logo-container">
          <img class="footer-logo" src="{% static "nagoyameshi/images/misosoup.svg" %}" alt="トップページ">
          <h5 class="footer-logo-ref">Nagoyameshi</h5>
        </a>
      </div>
      <div class="footer-ref">
        <a href="{% url 'managementcompany' user.pk %}">会社概要</a>
        <a href="{% url 'managementterms' user.pk %}">利用規約</a>
      </div>
      <div class="footer-copyright">
        <p>&copy;NAGOYAMESHI All rights reserved</p>
      </div>
    </div>
  </footer>
  {% block extra_js %}
  {% endblock %}
</body>
</html>