{% extends "base.html" %}
{% load humanize %}
{% block title %}カテゴリ検索ページ{% endblock %}
{% block contents %}
<div class="list">
	<div class="outer-container">
		<div class="flex-container">
			<a href="{% url 'keyword' %}" class="btn nonfocus-btn top-ref">キーワードから探す</a>
			<div class="btn focus-btn top-ref">カテゴリから探す</div>
		</div>
		<div class="back-container">
			<div class="btn-container">
				{% for category in all_categories %}
				{% if not category.category_name == target_category.category_name %}
				<a href="{% url 'category' category.pk %}" class="btn category-btn">{{ category.category_name }}</a>
				{% else %}
				<a href="{% url 'category' category.pk %}" class="btn focus-btn">{{ category.category_name }}</a>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<!-- 検索結果の数 -->
		<div class="search-count">
			{% if object_list %}
			<p>[カテゴリ：{{ target_category.category_name }}] {{ count }}件の店舗が見つかりました</p>
			{% else %}
			<p>[カテゴリ：{{ target_category.category_name }}] お探しの店舗は見つかりませんでした</p>
			{% endif %}
		</div>
		<div class="inner-container">
			{% include "pagination.html" %}
			{% for object in object_list %}
			<a href="{% url 'detail' object.restaurant.pk %}" class="table-ref">
				<table class="restaurant-table">
					<tr>
						<td rowspan="4" class="image-table">
							<img src="{{ object.restaurant.image.url }}" class="restaurant-image" alt="店舗画像">
						</td>
						<td class="first-row restaurant-name">
							{{ object.restaurant.restaurant_name }}
						</td>
					</tr>
					<tr>
						<td class="second-row category">
							{% for category in object.restaurant.category_name.all %}
							<span class="category">{{ category }}　</span>
							{% endfor %}
							<div></div>
						</td>
					</tr>
					<tr>
						<td class="third-row price">
							{{ object.restaurant.lowest_price|intcomma }}~{{ object.restaurant.highest_price|intcomma }}円<br>
						</td>
					</tr>
					<tr>
						<td class="fourth-row description">
							{{ object.restaurant.description}}</p>
						</td>
					</tr>
				</table>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}