{% extends "base.html" %}
{% block title %}お気に入り一覧{% endblock %}
{% block contents %}
<div class="favoritelist">
	<div class="outer-container">
		<h2 class="center">お気に入り店舗一覧</h2>
		{% if not is_subscribed %}
		<p class="center">---お気に入り機能は有料会員登録後に利用可能となります---</p>
		{% else %}
		{% if not object_list %}
		<p>現在のお気に入りレストランはありません。</p>
		{% else %}
		{% include "pagination.html" %}
		<table class="favorite-table">
			<tr>
				<th class="restaurant-name">店舗名</th>
				<th class="postalcode">郵便番号</th>
				<th class="address">住所</th>
				<th class="cancel"></th>
			</tr>
			{% for favorite in object_list %}
			<tr>
				<td class="restaurant-name">{% if not favorite.restaurant.is_active %}[閉店] {% endif %}<a href="{% url 'detail' favorite.restaurant.id %}" class="restaurant-ref">{{ favorite.restaurant }}</a></td>
				<td>{{ favorite.restaurant.postal_code|slice:":3" }}-{{ favorite.restaurant.postal_code|slice:"3:" }}</td>
				<td>{{ favorite.restaurant.address }}</td>
				<td>
					<form method="post" action="{% url 'favoritedelete' favorite.restaurant.pk %}" class="center">
						{% csrf_token %}
						<button type="submit" name="button" value="{{ favorite.restaurant.pk }}" class="btn nonactive-btn">解除</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}
