{% extends "base.html" %}
{% load humanize %}
{% block title %}キーワード検索ページ{% endblock %}
{% block contents %}
<div class="list">
	<div class="outer-container">
		<div class="flex-container">
			<div class="btn focus-btn top-ref">キーワードから探す</div>
			<a href="{% url 'category' izakaya_id %}" class="btn nonfocus-btn top-ref">カテゴリから探す</a>
		</div>
		<div class="back-container">
			<form class="btn-container center" method="get" action="{% url 'keyword' %}">
				<input class="search-box" type="text" name="query" placeholder="店舗名・エリア" value="{{ request.GET.query }}">
				<button type="submit" class="search-btn">検索</button>
			</form>
		</div>
		<div class="inner-container">
			<div class="search-count">
				{% if object_list %}
				<p>[キーワード：{{ request.GET.query }}] {{ count }}件の店舗が見つかりました</p>
				{% elif not request.GET.query %}
				<p>キーワードを入力してください</p>
				{% else %}
				<p>[キーワード：{{ request.GET.query }}] お探しの店舗は見つかりませんでした</p>
				{% endif %}
			</div>
			{% include "pagination.html" %}
			{% for restaurant in object_list %}
			<a href="{% url 'detail' restaurant.pk %}" class="table-ref">
				<table class="restaurant-table">
					<tr>
						<td rowspan="4" class="image-table">
							<img src="{{ restaurant.image.url }}" class="restaurant-image" alt="店舗画像">
						</td>
						<td class="first-row restaurant-name">
							{{ restaurant.restaurant_name }}
						</td>
					</tr>
					<tr>
						<td class="second-row category">
							{% for category in restaurant.category_name.all %}
							<span class="category">{{ category }}　</span>
							{% endfor %}
							<div></div>
						</td>
					</tr>
					<tr>
						<td class="third-row price">
							{{ restaurant.lowest_price|intcomma }}~{{ restaurant.highest_price|intcomma }}円<br>
						</td>
					</tr>
					<tr>
						<td class="fourth-row description">
							{{ restaurant.description}}</p>
						</td>
					</tr>
				</table>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}