{% extends "base.html" %}
{% block title %}パスワード変更ページ{% endblock %}
{% block contents %}
<div class="passwordchange">
	<div class="outer-container">
		<h2 class="center">パスワード変更</h2>
        <p class="comment">＊英小文字/大文字、数字、特殊文字をそれぞれ1つ以上、<br>8~64文字で設定してください</p>
		<form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
                {% if field.label == "新しいパスワード" %}
                
                {% endif %}
                {{ field.errors }}
            </div>
            {% endfor %}
			<div class="flex-container btn-container">		
                <button type="submit" class="btn strong-btn two-btn">送信する</button>
                <a href="{% url 'user' user_id %}" class="btn thin-btn two-btn">会員情報に戻る</a>
            </div>
        </form>
	</div>
</div>
{% endblock %}