{% extends "base.html" %}
{% block title %}予約一覧{% endblock %}
{% block contents %}
<div class="reservation">
	<div class="outer-container">
		<h2 class="center">予約一覧</h2>
		{% if not is_subscribed %}
		<p class="center">---店舗予約機能は有料会員登録後に利用可能となります---</p>
		{% endif %}
		{% if not object_list %}
		<p>現在の予約はありません。</p>
		{% else %}
		<div class="flex-container top-container">
			<div>
				<a href="{% url 'reservationlist' %}" class="btn nonfocus-btn upper-btn">本日以降</a>
				<a href="{% url 'reservationlistall' %}" class="btn focus-btn upper-btn">全て</a>
			</div>	
			<div>
				<p class="right-align">＊キャンセルは予約日の3日前まで可能です</p>
			</div>
		</div>
		<div class="inner-container">
			{% include "pagination.html" %}
			<table class="reservation-table">
				<tr>
					<th class="restaurant-name">店舗名</th>
					<th class="reserved-date">予約日</th>
					<th class="reserved-time">時間</th>
					<th class="reserved-people">人数</th>
					<th class="reservation-cancel"></th>
				</tr>
				{% for reservation in object_list %}
				<tr>
					<td class="restaurant-name"><a href="{% url 'detail' reservation.restaurant.id %}" class="restaurant-ref">{{ reservation.restaurant }}</a></td>
					<td class="reserved-date">{{ reservation.reserved_date }}</td>
					<td class="reserved-time">{{ reservation.reserved_time }}</td>
					<td class="reserved-people">{{ reservation.number_of_people }}</td>
					<td>
						{% if reservation.reserved_date >= cancel_limit %}
						<a href="{% url 'reservationdelete' reservation.pk %}" class="btn nonactive-btn">キャンセル</a></td>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}