{% extends "base.html" %}
{% block title %}退会ページ{% endblock %}
{% block contents %}
<div class="resign">
    <div class="outer-container">
        <h5>NAGOYAMESHIを本当に退会しますか？</h5>
        <form method="post">
            {% csrf_token %}
            <div class="flex-container btn-container">
                <button type="submit" class="btn nonactive-btn two-btn">退会する</button>
                <a href="{% url 'user' user_id %}" class="btn thin-btn two-btn">会員情報に戻る</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
