{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}店舗詳細ページ{% endblock %}
{% block contents %}
<div class="detail">
	<div class="outer-container">
		<div class="restaurant-name">
			<h2>{% if not object.is_active %}[閉店] {% endif %}{{ object.restaurant_name }}</h2>
		</div>
		<div class="flex-container space-between">
			<a href="" class="btn focus-btn upper-btn">店舗情報</a>
			{% if object.is_active %}
			<a href="{% url 'reservationform' object.pk %}" class="btn nonfocus-btn upper-btn">予約フォーム</a>
			<a href="{% url 'reviewlist' object.pk %}" class="btn nonfocus-btn upper-btn">レビュー</a>
			{% else %}
			<div class="btn nonactive-btn upper-btn">予約フォーム</div>
			<div class="btn nonactive-btn upper-btn">レビュー</div>
			{% endif %}
		</div>
		<div class="information">
			<img src="{{ object.image.url }}" class="detail-image" alt="店舗イメージ">
			<table class="restaurant-table">
				<tr>
					<th class="tableheader">店舗名</th>
					<td class="cell">{{ object.restaurant_name }}</td>
				</tr>
				<tr>
					<th class="tableheader">説明</th>
					<td class="cell">{{ object.description }}</td>
				</tr>
				<tr>
					<th class="tableheader">価格帯</th>
					<td class="cell">{{ object.lowest_price|intcomma }} ~ {{ object.highest_price|intcomma }}円</td>
				</tr>
				<tr>
					<th class="tableheader">郵便番号</th>
					<td class="cell">{{ object.postal_code|slice:":3" }}-{{ object.postal_code|slice:"3:" }}</td>
				</tr>
				<tr>
					<th class="tableheader">住所</th>
					<td class="cell">{{ object.address }}</td>
				</tr>
				<tr>
					<th class="tableheader">営業時間</th>
					<td class="cell">{{ object.opening_time }}~{{ object.closing_time }}</td>
				</tr>
				<tr>
					<th class="tableheader">定休日</th>
					<td class="cell">
						{% for holiday in object.holiday.all|dictsort:"id" %}
						<span>{{ holiday }} </span>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th class="tableheader">座席数</th>
					<td class="cell">{{ object.seating_capacity }}</td>
				</tr>
				<tr>
					<th class="tableheader">カテゴリ</th>
					<td class="cell">
						{% for category in object.category_name.all %}
						<span>{{ category }}&nbsp;</span>
						{% endfor %}
					</tr>
				<tr>
					<th class="tableheader">開店日</th>
					<td class="cell">
						{{ restaurant.open_date }}
					</td>
				</tr>
			</table>
		</div>
		{% if request.user.is_subscribed %}
		<div class="flex-container btn-container">
			<form action="">
				{% csrf_token %}
				<!-- 以下のbuttonをtype="button"に設定することでリロードされなくなった -->
				{% if isFavorite %}
				<button type="button" id="favorite-btn" data-favorite="{{ isFavorite }}" data-restaurant-id="{{ object.pk }}" class="btn favorite-btn favorite">
					&#9829; お気に入り解除
				{% else %}
				<button type="button" id="favorite-btn" data-favorite="{{ isFavorite }}" data-restaurant-id="{{ object.pk }}" class="btn nonfocus-btn favorite">
					&#9825; お気に入り追加
				{% endif %}
				</button>
			</form>
		</div>
		{% endif %}
	</div>
</div>	
{% endblock %}
{% block extra_js %}
<script> let url2 = "{% url 'favoritecreate' object.pk %}"; </script>
<script src="{% static 'nagoyameshi/js/favorite.js' %}"></script>
{% endblock %}