{% extends "base.html" %}
{% load static %}
{% block title %}店舗詳細ページ{% endblock %}
{% block contents %}
<div class="detail">
	<div class="outer-container">
		<div class="restaurant-name">
			<h2>{% if not object.is_active %}[閉店] {% endif %}{{ object.restaurant_name }}</h2>
		</div>
		<div class="flex-container ref-container">
			<a href="" class="btn focus left-align">店舗情報</a>
			{% if object.is_active %}
			<a href="{% url 'reservationform' object.pk %}" class="btn non-focus left-align">予約フォーム</a>
			<a href="{% url 'reviewlist' object.pk %}" class="btn non-focus left-align">レビュー</a>
			{% else %}
			<div class="btn non-active left-align">予約フォーム</div>
			<div class="btn non-active left-align">レビュー</div>
			{% endif %}
		</div>
		<img src="{{ object.image.url }}" class="detail-image" alt="店舗イメージ">
		<table class="restaurant-table">
			<tr>
				<th class="tableheader">店舗名</th>
				<td class="cell">{{ object.restaurant_name }}</td>
			</tr>
			<tr>
				<th class="tableheader">説明</th>
				<td class="cell">{{ object.description }}</td>
			</tr>
			<tr>
				<th class="tableheader">価格帯</th>
				<td class="cell">{{ object.lowest_price }}~{{ object.highest_price }}円</td>
			</tr>
			<tr>
				<th class="tableheader">郵便番号</th>
				<td class="cell">{{ object.postal_code}}</td>
			</tr>
			<tr>
				<th class="tableheader">住所</th>
				<td class="cell">{{ object.address }}</td>
			</tr>
			<tr>
				<th class="tableheader">営業時間</th>
				<td class="cell">{{ object.opening_time }}~{{ object.closing_time }}</td>
			</tr>
			<tr>
				<th class="tableheader">定休日</th>
				<td class="cell">
					{% for holiday in object.holiday.all %}
					<span>{{ holiday }} </span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th class="tableheader">座席数</th>
				<td class="cell">{{ object.seating_capacity }}</td>
			</tr>
			<tr>
				<th class="tableheader">カテゴリ</th>
				<td class="cell">
					{% for category in object.category_name.all %}
					<span>{{ category }}　</span>
					{% endfor %}
				</td>
			</tr>
		</table>
		<div class="flex-container btn-container">
			<form action="">
				{% csrf_token %}
				<!-- 以下のbuttonをtype="button"に設定することでリロードされなくなった -->
				<button type="button" id="favorite-btn" data-favorite="{{ isFavorite }}" data-restaurant-id="{{ restaurant_id }}" class="btn favorite">
					{% if isFavorite %}
					&hearts;　お気に入り解除
					{% else %}
					&#x2661;　お気に入り追加
					{% endif %}
				</button>
			</form>
		</div>
	</div>
</div>	
{% endblock %}
{% block extra_js %}
<script> let url2 = "{% url 'favoritecreate' restaurant_id %}"; </script>
<script src="{% static 'nagoyameshi/js/favorite.js' %}"></script>
{% endblock %}