{% extends "base.html" %}
{% load humanize %}
{% block title %}キーワード検索ページ{% endblock %}
{% block contents %}
<div class="list">
	<div class="outer-container flex-container">
		<div class="left-container">
			<form class="" method="get" action="{% url 'search' %}">
				<div class="search-container">
					<label>キーワードから探す</label><br>
					<input class="search-box" type="text" name="keyword" placeholder="店舗名・エリア" {% if request.GET.keyword %}value="{{ request.GET.keyword }}"{% endif %}>
				</div>
				<div class="search-container">
					<label>カテゴリから探す</label><br>
					<select name="category">
						<option value="0">（未選択）</option>
						{% for category in categories %}
						<option value="{{ category.pk }}" {% if not request.GET.all and request.GET.category == category.pk|stringformat:"s" %}selected{% endif %}>{{ category.category_name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="search-container">
					<label>予算で絞り込む</label><br>
					<select name="minormax">
						<option value="min" {% if not request.GET.minormax or request.GET.minormax == "min" %}selected{% endif %}>最低価格</option>
						<option value="max" {% if request.GET.minormax == "max" %}selected{% endif %}>最高価格</option>
					</select>
					<select name="price">
						<option value="" {% if not request.GET.price or request.GET.price == "empty" %}selected{% endif %}>（未選択）</option>
						{% for price in price_list %}
						<option value="{{ price }}" {% if request.GET.price == price|stringformat:"s" %}selected{% endif %}>{{ price|intcomma }}円</option>
						{% endfor %}
					</select>
					<select name="upordown">
						<option value="down" {% if not request.GET.upordown or request.GET.upordown == "down" %}selected{% endif %}>以下</option>
						<option value="up" {% if request.GET.upordown == "up" %}selected{% endif %}>以上</option>
					</select>
				</div>
				<div class="search-container">
					<label>並び替える</label><br>
					<select name="order">
						<option value="" {% if not request.GET.order %}selected{% endif %}>（未選択）</option>
						<option value="new" {% if request.GET.order == "new" %}selected{% endif %}>掲載日が新しい順</option>
						<option value="old" {% if request.GET.order == "old" %}selected{% endif %}>掲載日が古い順</option>
						<option value="mincheap" {% if request.GET.order == "mincheap" %}selected{% endif %}>最低価格が低い順</option>
						<option value="minexpensive" {% if request.GET.order == "minexpensive" %}selected{% endif %}>最低価格が高い順</option>
						<option value="highcheap" {% if request.GET.order == "highcheap" %}selected{% endif %}>最高価格が低い順</option>
						<option value="highexpensive" {% if request.GET.order == "highexpensive" %}selected{% endif %}>最高価格が高い順</option>
						<option value="scorehigh" {% if request.GET.order == "scorehigh" %}selected{% endif %}>評価が高い順</option>
						<option value="scorelow" {% if request.GET.order == "scorelow" %}selected{% endif %}>評価が低い順</option>
					</select>
				</div>
				<button type="submit" class="btn strong-btn">検索</button>
			</form>
		</div>
		<div class="right-container">
			<div>
				<div class="search-count">
					{% if not request.GET.keyword and not category and not request.GET.price %}
					<p class="found">全ての店舗</p>
					{% elif request.GET.keyword %}
					{% if category and request.GET.price %}
					<p class="found">キーワード：{{ request.GET.keyword }}&nbsp;<span class="normal">&</span>&nbsp;カテゴリ：{{ category }}&nbsp;<span class="normal">&</span>{% include "price_range.html" %}</p>
					{% elif category %}
					<p class="found">キーワード：{{ request.GET.keyword }}&nbsp;<span class="normal">&</span>&nbsp;カテゴリ：{{ category }}</p>
					{% elif request.GET.price %}
					<p class="found">キーワード：{{ request.GET.keyword }}&nbsp;<span class="normal">&</span>{% include "price_range.html" %}</p>
					{% else %}
					<p class="found">キーワード：{{ request.GET.keyword }}</p>
					{% endif %}
					{% elif category %}
					{% if request.GET.price %}
					<p class="found">カテゴリ：{{ category }}&nbsp;<span class="normal">&</span>{% include "price_range.html" %}</p>
					{% else %}
					<p class="found">カテゴリ：{{ category }}</p>
					{% endif %}
					{% else %}
					{% include "price_range.html" %}
					{% endif %}
					{% if object_list %}
					<p class="count">{{ count }}件の店舗が見つかりました。{% include "search_order.html" %}</p>
					{% else %}
					<p class="count">お探しの店舗は見つかりませんでした。{% include "search_order.html" %}</p>
					{% endif %}
				</div>
			</div>
			{% include "pagination_search.html" %}
			{% for restaurant in object_list %}
			<a href="{% url 'detail' restaurant.pk %}" class="table-ref">
				<table class="restaurant-table">
					<tr>
						<td rowspan="5" class="image-table">
							<img src="{{ restaurant.image.url }}" class="restaurant-image" alt="店舗画像">
						</td>
						<td class="first-row restaurant-name">
							{{ restaurant.restaurant_name }}
						</td>
					</tr>
					<tr>
						<td class="second-row category">
							{% for category in restaurant.category_name.all %}
							<span class="category">{{ category }}　</span>
							{% endfor %}
						</td>
					</tr>
					<tr>
						<td class="third-row score">
							評価：{{ restaurant.score|floatformat:2 }}
						</td>
					</tr>
					<tr>
						<td class="fourth-row price">
							{{ restaurant.lowest_price|intcomma }}~{{ restaurant.highest_price|intcomma }}円<br>
						</td>
					</tr>
					<tr>
						<td class="fifth-row description">
							{{ restaurant.description}}</p>
						</td>
					</tr>
				</table>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}