{% extends "base.html" %}

{% block title %}レビュー一覧ページ{% endblock %}
{% block contents %}
<div class="reviewlist">
	<div class="outer-container">
		<h2 class="restaurant-name">{{ restaurant_name }}</h2>
		<div class="flex-container ref-container">
			<form method="get" action="{% url 'detail' restaurant_id %}" class="transition-form">
				<button type="submit" class="btn">店舗情報</button>
			</form>
			<form method="get" action="{% url 'reservationcreate' restaurant_id %}" class="transition-form">
				<button type="submit" class="btn">予約</button>
			</form>
			<form method="get" action="{% url 'reviewlist' restaurant_id %}" class="transition-form">
				<button type="submit" class="btn">レビュー</button>
			</form>
		</div>
		<p class="average">平均：{{ average_score }}点（{{ target_reviews|length }}件）</p>
		{% if not target_reviews %}
		<table class="review-table">
			<tr>
				<td class="noreview">このレストランのレビューはまだありません。</td>
			</tr>
		</table>
		{% else %}
		{% for review in target_reviews %}
		<table class="review-table">
			<tr class="user-name-index">
				<td class="user-name">{{ review.user.name }}<span> さん</span></td>
			</tr>
			<tr>
				{% if review.score == 1 %}
				<td class="star">★☆☆☆☆</td>
				{% elif review.score == 2 %}
				<td class="star">★★☆☆☆</td>
				{% elif review.score == 3 %}
				<td class="star">★★★☆☆</td>
				{% elif review.score == 4 %}
				<td class="star">★★★★☆</td>
				{% elif review.score == 5 %}
				<td class="star">★★★★★</td>
				{% endif %}
			</tr>
			<tr>
				<td class="content">{{ review.content }}</td>
			</tr>
			<tr>
				<td class="update">日時：{{ review.updated_at }}</td>
			</tr>
		</table>
		{% endfor %}
		{% endif %}
		{% if not writtenreview %}
		<p class="reviewcheck">あなたはこのレストランにまだレビューしていません。</p>
		<div class="flex-container btn-container">
			<button onclick="location.href='{% url 'reviewcreate' restaurant_id %}'" class="btn">レビューを投稿する</button>
		</div>
		{% else %}
		<p class="reviewcheck">あなたはこのレストランにレビュー済みです。</p>
		<div class="flex-container btn-container">
			<button onclick="location.href='{% url 'reviewupdate' restaurant_id writtenreview.pk %}'" class="btn btn-left">レビューを編集する</button>
			<button onclick="location.href='{% url 'reviewdelete' restaurant_id writtenreview.pk %}'" class="btn btn-right">レビューを削除する</button>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}