{% if request.GET.order == "new" %}
---開店日が新しい順---</span>
{% elif request.GET.order == "old" %}
---開店日が古い順---</span>
{% elif request.GET.order == "mincheap" %}
---最低価格が低い順---</span>
{% elif request.GET.order == "minexpensive" %}
---最低価格が高い順---</span>
{% elif request.GET.order == "highcheap" %}
---最高価格が低い順---</span>
{% elif request.GET.order == "highexpensive" %}
---最高価格が高い順---</span>
{% elif request.GET.order == "scorelow" %}
---評価が低い順---</span>
{% elif request.GET.order == "scorehigh" %}
---評価が高い順---</span>
{% endif %}
