{% extends 'base.html' %}

{% block title %}NAGOYAMESHIについて{% endblock %}

{% block contents %}
<div class="serviceguide">
  <div class="outer-container">
    <div class="topVisualContainer">
      <img src="/media/udon.jpg" class="topVisual" alt="TopVisual">
      <div class="topVisualText">
        <h5>NAGOYAMESHIは名古屋のB級グルメ情報に特化した<br>会員制サービスです。</h5>
      </div>
    </div>  
    <div class="ref-container">
			<li class="ref-list">
				<ul><a href="{% url 'login' %}" class="btn">既に会員登録されている方はこちら</a></ul>
				<ul><a href="{% url 'signupform' %}" class="btn">まだ会員登録されていない方はこちら</a></ul>
				<ul><a href="{% url 'top' %}" class="btn">トップページに戻る</a></ul>
			</li>
    </div>
  </div>
</div>
{% endblock %}