{% extends 'base.html' %}
{% block title %}有料会員解約確認{% endblock %}
{% block contents %}
<div class="subsc-resign">
  <div class="outer-container">
    <p class="center">有料会員を解約すると以下のサービスを利用できなくなります。</p>
    <ul class="list">
        <li>お気に入り店舗登録機能</li>
        <li>レビュー投稿機能</li>
        <li>店舗予約機能</li>
    </ul>
    <form action="{% url 'subscriptionresign' %}" method="POST" class="flex-container btn-container">
      {% csrf_token %}
      <button class="btn nonactive-btn two-btn" id="checkout-and-portal-button" type="submit">有料会員登録を解約する</button>
      <a href="{% url 'subscription' %}" class="btn thin-btn two-btn">有料会員情報に戻る</a>
    </form>
  </div>
</div>
{% endblock %}