{% extends "base.html" %}

{% block title %}トップページ{% endblock %}
{% block contents %}
<div class="top">
	<div class="outer-container">
		<div class="topVisualContainer">
			<img src="/media/udon.jpg" class="topVisual" alt="TopVisual">
			<div class="topVisualText">
				<h1>名古屋ならではの味を、<br>みつけよう</h1>
				<p>NAGOYAMESHIは、<br>名古屋市の応援グルメ専門のレビューサイトです。</p>
			</div>
		</div>
		<!-- 検索フォーム -->
		<div class="search-container">
			<form class="search-form" method="get" action="{% url 'list' %}">
				{% csrf_token %}
				<label for="">キーワードから探す</label>
				<input class="search-box" type="text" name="query" placeholder="店舗名・エリア" value="{{ request.GET.query }}">
				<button type="submit" class="search-btn">検索</button>
			</form>
		</div>
		<div class="restaurants-container">
			<div class="middle-container">
				<h2 class="title">評価が高いお店</h2>
				<ul class="flex-container wrap-container">
					{% for restaurant in evaluated_restaurants %}
					<li class="inner-container">
						<a href="{% url 'detail' restaurant.pk %}">
							<img src="{{ restaurant.image.url }}" class="restaurant-image" alt="店舗画像">
							<p class="restaurant-name">{{ restaurant.restaurant_name }}</p>
							{% for category in restaurant.category_name.all %}
							<p class="category-name">{{ category }}</p>
							{% endfor %}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="middle-container">
				<h2 class="title">カテゴリから探す</h2>
				<div class="categoryContainer">
					<ul class="flex-container wrap-container">
						{% for information in category_information %}
						<li class="category-container">
							<a href="{% url 'category' information.id %}">
								<img src="{{ information.url }}" class="category-img" alt="和食を検索"></a>
								<p class="category-text">{{ information.name }}</p>
							</a>
						</li>
						{% endfor %}
					</ul>
					<div class="btn-container">
						{% for category in all_categories %}
						<a href="{% url 'category' category.pk %}" class="btn category-btn">{{ category.category_name }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="middle-container">
				<h2 class="title">新規掲載店</h2>
				<ul class="flex-container wrap-container">
					{% for restaurant in new_restaurants %}
					<li class="inner-container">
						<a href="{% url 'detail' restaurant.pk %}">
							<img src="{{ restaurant.image.url }}" class="restaurant-image" alt="店舗画像">
							<p class="restaurant-name">{{ restaurant.restaurant_name }}</p>
							{% for category in restaurant.category_name.all %}
							<p class="category-name">{{ category }}</p>
							{% endfor %}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}