{% extends "base.html" %}
{% block title %}会員情報編集{% endblock %}
{% block contents %}
<div class="user-update">
	<div class="outer-container">
		<h2 class="title">会員情報編集</h2>
		<div>
			<h5>編集する情報を入力してください</h5>
			<form method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{% for field in form %}
				<div class="flex-container">
					<label class="label">
						<span>{{ field.label }} </span>
						{% if field.field.required %}<span class="must">必須</span>{% endif %}
					</label>
					<div class="right">{{ field }}</div>
				</div>
				{% if field.errors %}
				<div class="error">
					{{ field.errors }}
				</div>
				{% endif %}
				{% endfor %}
				<div class="flex-container btn-container">
					<button type="submit" class="btn accept-btn">登録情報を更新</button>
					<a href="{% url 'user' user_id %}" class="btn cancel-btn">会員情報に戻る</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}