{% extends "base.html" %}
{% block title %}会員情報{% endblock %}
{% block contents %}
<div class="user">
	<div class="outer-container">
		<h2 class="center">会員情報</h2>
		<div class="top-container">
			{% if user.email == "test_manager@nagoyameshi.net" or user.email == "test_general@nagoyameshi.net" %}
			<div class="btn negative-btn top-ref">プロフィール編集</div>
			<div class="btn negative-btn top-ref">パスワード変更</div>
			{% else %}
			<a href="{% url 'userupdate' user.pk %}" class="btn new-btn">プロフィール編集</a>
			<a href="{% url 'password_change' %}" class="btn new-btn">パスワード変更</a>
			{% endif %}
		</div>
        <table class="user-table">
			<tr>
				<th>氏名</th>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<th>フリガナ</th>
				<td>{{ user.kana_name }}</td>
			</tr>
			<tr>
				<th>ニックネーム</th>
				<td>{{ user.nick_name }}</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td>{{ user.postal_code|slice:":3" }}-{{ user.postal_code|slice:"3:" }}</td>
			</tr>
			<tr>
				<th>住所</th>
				<td>{{ user.address }}</td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td>{{ user.tel_number }}</td>
			</tr>
			<tr>
				<th>誕生日</th>
				<td>
                    {{ user.birthday|default:"" }}
                </td>
			</tr>
			<tr>
				<th>職業</th>
				<td>
                    {{ user.occupation|default:"" }}
                </td>
			</tr>
		</table>
		<div class="flex-container btn-container">
			{% if user.is_subscribed %}
			<a href="{% url 'subscription' %}" class="btn strong-btn one-btn">有料会員情報を管理</a>
			{% else %}
			<a href="{% url 'upgradeguide' %}" class="btn strong-btn one-btn">有料会員へアップグレード</a>
			{% endif %}
		</div>
		<div class="flex-container btn-container">
			{% if user.email == "test_manager@nagoyameshi.net" or user.email == "test_general@nagoyameshi.net" %}
			<div class="btn negative-btn one-btn">NAGOYAMESHI退会</a>
			{% else %}
			<a href="{% url 'resign' user.pk %}" class="btn nonactive-btn one-btn">NAGOYAMESHI退会</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}